@import "./common/high-res-flags.css";

.voby-tel-input .selected-flag:focus .arrow {
    border-left-width : 4px;
    border-right-width: 4px;
    border-top        : 5px solid #1976d2;
}

.voby-tel-input .selected-flag .flag {
    position  : absolute;
    top       : 50%;
    margin-top: -12px;
}

.voby-tel-input .selected-flag .arrow {
    position    : relative;
    top         : 50%;
    margin-top  : -1px;
    left        : 29px;
    width       : 0;
    height      : 0;
    border-left : 3px solid transparent;
    border-right: 3px solid transparent;
    border-top  : 4px solid #555;
}

.voby-tel-input .selected-flag .arrow.up {
    border-top   : none;
    border-bottom: 4px solid #555;
}